rvm:
- 2.0.0
- 2.1
- 2.2

sudo: false

cache: bundler

env:
- CHEF_VERSION="~> 11.0"
- CHEF_VERSION="~> 12.0"

matrix:
  exclude:
  # Chef 12.9 requires Ruby >= 2.1
  - rvm: 2.0.0
    env: CHEF_VERSION="~> 12.0"

before_install: gem install bundler # Update bundler

bundler_args: --jobs=3 --retry=3 --without='doc integration integration_docker integration_vagrant integration_cloud guard'

script:
- bundle exec rake style unit
